doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Forgot pass Plasticlife
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,800', rel='stylesheet')
    style.
      *{
      margin: 0 auto;
      font-family: 'Montserrat', sans-serif;
      }
      .container-fluid{
      width: 100%;
      }
      .container{
      width: 80%;
      }
      .headerimage{
      width: 100%;
      }
      h2{
      color: #0158AC;
      }
      .colorR{
      color: #CC2932;
      }
      .colorG{
      color: #0158AC;
      }
      .separator{
      margin-top: 60px;
      }
      .codearea{
      padding-top: 40px;
      padding-bottom: 40px;
      background: #F8F8F8;
      border-radius: 5px;
      margin-bottom: 60px;
      margin-top: 60px;
      text-align: center;
      }
      .col-50{
      width: 50%;
      float:left;
      }
      .text-center{
      text-align: center;
      }
  body
    .container-fluid
      .header
        img.headerimage(src='http://167.99.171.243:5000/mails/header.jpg', alt='Terridata-header')
      .container.separator
        h2
          b Hola, #{name} 
        br
        h4.colorR
          | Hubo una petición para cambiar la contraseña de tu cuenta Plasticlife.
        br
        p.colorG
          | Por favor, utiliza este código como tu contraseña en el momento de iniciar sesión en la aplicación, luego podrás cambiar tu contraseña desde el menú de perfil.
      .container.codearea
        h2.colorG
          b
            | Tu código:
        h2.colorR
          | #{password}
      .container
        h2
          span Atentamente:
          |  el equipo de Plasticlife
      .container.separator
        .col-50.text-center
          img.imagelogo(src='http://167.99.171.243:5000/mails/logoapp.png', alt='Plasticlife-logoapp')
          br
          h2.colorG
            b
              | Descárga la app:
          .row.separator
            a.col-50(href='https://play.google.com/store/apps/details?id=com.plastic_life&hl=es', target='_blank')
              img.imagelogo(src='http://167.99.171.243:5000/mails/googleplay.png', alt='Terridata-logo-googleplay')
            a.col-50(href='https://play.google.com/store/apps/details?id=com.plastic_life&hl=es', target='_blank')
              img.imagelogo(src='http://167.99.171.243:5000/mails/appstorebutton.png', alt='Terridata-logo-appstore')
        .col-50.text-center
          img(src='http://167.99.171.243:5000/mails/phones.png', alt='Terridata-phones')
      