doctype html
html
  head
    meta(name='viewport', content='width=device-width')
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Bienvenido
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700,800', rel='stylesheet')
    style.
      *{
      margin: 0 auto;
      font-family: 'Montserrat', sans-serif;
      }
      .container-fluid{
      width: 100%;
      }
      .container{
      width: 80%;
      }
      .headerimage{
      width: 100%;
      }
      h2{
      color: #0158AC;
      }
      .colorR{
      color: #CC2932;
      }
      .colorG{
      color: #0158AC;
      }
      .separator{
      margin-top: 60px;
      }
      .codearea{
      padding-top: 40px;
      padding-bottom: 40px;
      background: #F8F8F8;
      border-radius: 5px;
      margin-bottom: 60px;
      margin-top: 60px;
      text-align: center;
      }
      .col-50{
      width: 50%;
      float:left;
      }
      .text-center{
      text-align: center;
      }
  body
    .container-fluid
      .header
          img.headerimage(src='http://167.99.171.243:5000/mails/mails/header.jpg', alt='Plasticlife-header')
      .container.separator
        h2
          b Hola, #{name} 
        br
        h4.colorR
          | Te damos la bienvenida a Plasticlife
        br
      .container
        h2
          span Atentamente:
          |  el equipo de Plasticlife
        